<app-header></app-header>
<div class="row w-100 ">
<div class="col-md-1"></div>
<div class="col-md-5 d-flex align-items-center justify-content-center">
    <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-757.jpg" alt="no image">
</div>
<div class="col-md-5 d-flex align-items-center justify-content-center">
    <form action="" class="shadow p-5 w-100">
        <h4 class="text-center mb-4 text-light">Login form </h4>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Password">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100">Login</button>
        </div>

    </form>
</div>
<div class="col-md-1"></div>
</div>
