<app-header></app-header>
<div class="d-flex flex-row w-100">
    <div id="sidebar">
        <div class=" text-center text-light">
           <a routerLink="/dashboard" style="text-decoration: none;color: white;"> <h5>Dashboard</h5></a>
            <a routerLink="/employee" style="text-decoration: none;color: white;"><h5 class="mt-4">Employees</h5></a>
        </div>
     </div>

     <div class="container-fluid">
         <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-12 mt-5">
                <h2 class="text-center text-primary mb-5">Edit Employee Details</h2>
                <div class="shadow  d-flex align-items-center justify-content-center">
                    <form action="" class="w-100 p-5">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="User ID">
                            <span class="text-danger">*Invalid input</span>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username">
                            <span class="text-danger">*Invalid input</span>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Email">
                            <span class="text-danger">*Invalid input</span>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                  
                                  <option value="1"></option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                              </div>
                            <span class="text-danger">*Invalid input</span>
                        </div>

                        <div class="mb-3 d-flex">
                            <button class="me-3 btn btn-warning">Cancel</button>
                            <button class="btn btn-success">Add</button>
                        </div>


                    </form>
                </div>
            </div>
            <div class="col-md-2">
                
            </div>
         </div>
     </div>
</div>
 